{% extends 'base.html' %}
{%  block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {{ form.media }}
    
</head>
<div class = "container-fluid row col-md-6">
    <form method='POST' action='' >
        <h2>¿Quieres mostrar tu motel en nuestra página? Contáctanos</h2>
        {% csrf_token %}
        {{form.as_table}}
        <input type='submit' class="btn btn-lg btn-info btn-block" value="Enviar">
            </form>
</div>

{% endblock %}